.homePageOption{
    background-color: gray;
    padding:2.5vh 2.5vw;
    margin-top:1vh;
    margin-bottom:1vh;
    display: flex;
    flex-direction: row;
}

.homePageOption>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:50%;
    padding:3%
}

.homePageOption>div>img{
    width:100%;
    height:100%
}

.homePageOption>div>h1{
    color: white;
    text-align: start;
    margin: 0px;
}

.homePageOption>div>p{
    color: white;
    text-align: start;
    margin: 0px;
    font-size: 20px;
}

.homePageTitle{
    color: white;
    font-size: 3vw;
    padding:10px
}

.homePageContent{
    color:white;
    font-size: 16px;
    padding:10px
}

.homePageLink{
    background-color: rgb(3, 3, 167);
    color:white;
    padding:10px;
    height:25px;
    font-size:17px;
    width:140px;
    text-align: center;
    transition:all 0.5s ease-in-out
}

.homePageLink:hover::before{
    content: ">";
}

.homePageLink:hover::after{
    content: "<";
}

.homePageLink:hover{
    transform: scaleX(1.1);
}

#gameWindow{
    height:90%;
    width:100%
}

@media screen and (max-width:800px) {
    .homePageOption{
        flex-direction: column;
    }
    .homePageOption>div{
        width:100%
    }
    .homePageOption>div>img{
        width:75%;
        height:100%;
        align-self: center;
    }
    #homePageOptionInversed{
        display: none;
    }
    #homePageOptionNormal{
        display: block;
    }
}

@media screen and (min-width:800px){
    #homePageOptionInversed{
        display: flex;
    }
    #homePageOptionNormal{
        display: none;
    }
}