#settingsPageOptions{
    display: flex;
    flex-direction: row;
    height:500px
}

.settingsHr{
    width:90%
}

#settingsPageWrapper{
    display: flex;
    height:100%;
    flex-direction: column;
    background-color: rgb(92, 92, 92);
}

#settingsPageButtonWrapper{
    display: flex;
    height: 10%;
    justify-content: center;
}

#saveSettingsButton{
    padding:10px;
    background-color: rgb(15, 15, 131);
    color:white;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.settingsColumn{
    width:50%;
    text-align: center;
    position:relative
}

.columnTitle{
    font-size:40px;
    color:white;
    margin-bottom:3%;
    margin-top:3%
}

.settingsLabel{
    font-size:20px;
}

.settingsInput{
    margin-top:20px
}
input[type=checkbox] {
    color: brown;
}