#gameLeaderboardWrapper{
    display:flex;
    width:100%;
    height: 100%;
    flex-direction: row;
}

#gameLeaderboardWrapper p{
    margin:5px 0px;
    text-align:center
}

#gameLeaderboardWrapper > div{
    width: 33.33%;
    height:100%;
    background-color: gray;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 3px;
}

#gameLeaderboardWrapper > div > :nth-child(2){
    color:Gold;
    font-size:25px
}

#gameLeaderboardWrapper > div > :nth-child(3){
    color:rgb(189, 189, 189);
    font-size:23px
}
#gameLeaderboardWrapper > div > :nth-child(4){
    color:rgb(197, 130, 43);
    font-size:20px
}

#gameLeaderboardWrapper  h3{
    color:rgb(220, 235, 15);
    padding:19px 0px;
    text-align: center;
    background-color: rgb(75, 75, 75);
    margin:0px;
}

#gameLeaderboardWrapper  h2{
    color:rgb(231, 108, 6);
    padding:15.5px 0px;
    text-align: center;
    background-color: rgb(75, 75, 75);
    margin:0px;
}

#gameLeaderboardWrapper  h1{
    color:rgb(231, 0, 0);
    padding:10px 0px;
    margin:0px;
    text-align: center;
    background-color: rgb(75, 75, 75);
}