#gameInventoryPage {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: gray;
}

#gameInventoryPage > :first-child {
  font-size: 20px;
  padding: 5px 0px 5px 10px;
  background-color: rgb(118, 118, 209);
  color: white;
}

#gameInventoryPage > :first-child > button {
  border-style: none;
  padding: 7px;
  margin: 0px 10px;
  color: white;
}

#gameInventoryPage > :last-child{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 100%;
  height:100%;
}

.gameInventoryItem {
  width: 100px;
  height: 300px;
  background-color: aqua;
}

#gameInventoryCol {
  height: 100%;
}

#gameInventoryItemDiv {
  overflow: scroll;
  width: 75%;
  display: flex;
  flex-direction: row;
}
#gameInventoryToolbar {
  width: 25%;
}
