#gamePlayPage{
    width:100%;
    background-color: gray;
    display: flex;
    flex-direction:row;
}

.columnBack{
    width:90%;
    height:90%;
    margin: auto;
    background-color: rgb(65, 65, 65);
}

.columnBack li{
    list-style: none;
    list-style-type: none;
}

.columnBack >ul{
    padding:0px;
    margin:0px
}

#startButton{
    background-color: blue;
    padding: 20px 50px;
     color:white;
    font-size: 40px;
    border-style: none;
    cursor: pointer;
}

#startButton:disabled{
    background-color: rgb(231, 231, 231);
    color: blue;
    cursor: not-allowed;
}

#gamePlayPage > *{
    display: flex;
    flex-direction: column;
    width:33.33%;
    text-align: center;
}

.difficulty{
    padding: 10px 10px;
    color:white;
    font-size: 40px;
    cursor: pointer;
}

#difficulties{
    justify-content: space-around;
}

.activated{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(26, 21, 21);
}

#easy{
    background-color: rgb(11, 111, 11);
}

#normal{
    background-color: rgb(179, 104, 24);
}

#hard{
    background-color: rgb(94, 14, 14);
}