#toolbarGame{
    background-color: rgb(0, 51, 94);
    display:flex;
    flex-direction: row;
    min-width:1000px;
    height:10%
}

.toolbarGameItem{
    padding:10px;
    font-size:15px;
    align-self:center;
    color:white;
    width:25%;
    text-align: center;
    cursor:pointer;
}

